
#header{
  background-color: #3CB371;
  height:70px;

}
header .row-fluid{
  margin-top: 20px;

}
.span1{
  text-align: center;
  margin-right: -60px;
}



header .tp-area h1 a {
    width: 1600px;
    height: 100px;
    margin-top: 0;
    background-image: url(https://s3.ap-northeast-2.amazonaws.com/wherestreet/WEB/Logo_01.PNG);
    background-repeat: no-repeat;
}
.ir-el {

    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20% 100%;
    -webkit-background-size: 20% 100%;
    text-align: left;
    text-indent: -9999px;
}
li{
  display:list-item;
  text-align: -webkit-match-parent;
  display: inline;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.input-append{
  margin-left: 10px;
}

ul, ol{
  list-style: none;
}
.header_wrap{
    display: inline;
    top: 20px;
    right: 80px;
    width: 300px;
}
.gnb{
  float:left;
  margin-left: 50px;
  text-decoration: none;
}
.gnb_wrap{
    float: right;
    left: 120px;
    width: 200px;
    margin-top: 30px;
    margin-right: 50px;
    font-family : "나눔고딕","굴림","돋움";
    font-size: 12pt;


}

.header-loc {
    top: 200px;
    width: 205px;
    height: 39px;
    background: #fff;
    border: none;
    color: #000;
  }

.header-loc {

  top:200px;
    width: 200px;
    height: 38px;
    background: #3f3f3f;
    color: #fff;
}



li a{
  text-decoration: none;
}
body, input, textarea, select, button, table {
    font-family: '나눔고딕',NanumGothic,'돋움',Dotum,Helvetica,sans-serif;
    font-size: 12px;
    color: #222;
    letter-spacing: -.05em;
    text-decoration: none;
}
.footer {
  text-align: center;
  font-size: 100%;
  font-style:
}
